{% extends 'index.html' %}
{% block content %}
<div class="min-h-screen h-full flex flex-col after:flex-1">

    <div class="max-w-sm mx-auto px-4 py-8">

        <h1 class="text-3xl text-slate-800 font-bold mb-6">Edit Category</h1>
        <!-- Form -->
        <form method="POST" action="{{ url_for('item_blueprint.edit_category', id=id ) }}">
            {{form.csrf_token}}
            <div class="space-y-4">
                <div>
                    <label class="block text-sm font-medium mb-1" for="email">
                        {{form.name.label}}
                    </label>
                    {{form.name(class="form-input w-full")}}
                </div>
            </div>
            <div class="flex items-center justify-end mt-6">
                <a class="btn bg border-slate-200 hover:border-slate-300 text-slate-600" href="{{ url_for('customer_blueprint.list_customer' ) }}">Cancel</a>
                <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3" type="submit">Submit</button>
            </div>
        </form>

    </div>

</div>
{% endblock content %}